/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


/* global */
.button {
  border: 2px solid #000;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background-color: #fff;
}

/*  */

.page {
  font-family: var(--main-font);
  background-image: var(--background-pattern);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-card-desc);
}

.wrapper {
  width: var(--block-width);
  margin: 0 auto;
}

.header {
  margin-bottom: 100px;
  font-family: var(--accent-font);
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #000;
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
  text-align: center;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.cards-list {
  display: grid;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-card-title);
}

.card__img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__desc {
  display: grid;
  gap: 25px;
  margin: var(--margin-card-desc);
  font-size: var(--font-size-card-desc);
}

.card__desc > p {
  line-height: 21px;
}

.card__buttons {
  justify-self: end;
}

.button__like {
  padding: 12.5px 37px ;
}

.button__save {
  padding: 17px 20px;
}
