/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* global */

.button {
  position: relative;
  border: none;
  outline: 2px solid #000;
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  color: #000;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: translateX(0);
}

.button:focus-visible {
  box-shadow: 3px 3px 0 #000;
}

.page {
  font-family: var(--main-font);
  background-image: var(--background-pattern);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-card-desc);
}

.wrapper {
  width: var(--block-width);
  margin: 0 auto;
}

.header {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: var(--accent-font);
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #000;
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
  text-align: center;
  background-color: #fff;
}

.header__text > h1 {
  font-size: var(--font-size-header-title);
}

.header__text > p {
  font-size: var(--font-size-header-desc);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.cards-list {
  display: grid;
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-card-title);
}

.card__img-block {
  position: relative;
}

.card__img {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.img-block__text-logo {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--color-font-stroke),
    0 1px var(--color-font-stroke),
    1px 0 var(--color-font-stroke),
    0 -1px var(--color-font-stroke);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--color-font-stroke)) or
    (-webkit-text-stroke: 1px var(--color-font-stroke))
) {
  .img-block__text-logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-font-stroke);
    text-stroke: 1px var(--color-font-stroke);
  }
}

.grayscale-filter {
  filter: grayscale(0.8);
}

.saturate-filter {
  filter: saturate(160%);
}

.sepia-filter {
  filter: sepia(0.5);
}

.hue-rotate-filter {
  filter: hue-rotate(-20deg);
}

.invert-filter {
  filter: invert(0.4);
}

.blur-filter {
  filter: blur(0.3em);
}

.mixed-filter {
  filter: grayscale(0.6) sepia(0.5);
}

.card__desc {
  display: grid;
  gap: 26px;
  margin: var(--margin-card-desc);
  font-size: var(--font-size-card-desc);
}

.card__desc > p {
  line-height: 21px;
}

.card__buttons {
  display: grid;
  grid-template-columns: min-content 130px;
  grid-template-rows: 37px;
  justify-self: end;
}

.button__heart {
  border: none;
  outline: none;
  background: none;
  transition: outline 0.3s ease;
}

.button__heart svg {
  margin-top: 3px;
}

.button__heart:focus-visible {
  outline: 2px solid #000;
}

/* центрируем анимацию сердца */

.like-icon {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: linear fill 0.1s;
}

.core {
  transition: linear fill 0.3s;
  transition-delay: 0.03s;
}

.main-body {
  transition: linear fill 0.3s;
}

.like-icon:hover .core {
  fill: var(--heart-fill-contour);
  transition: linear fill 0.3s;
  transition-delay: 0;
}

.like-icon:hover .main-body {
  fill: var(--heart-fill-contour);
  transition: linear fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-fill-accent);
  transition: linear fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-fill-accent);
  transition: linear fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-accent);
  transition: linear fill 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill-accent);
  transition: linear fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-accent);
  transition: linear fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation: spark-opacity 0.3s ease-in;
  animation-delay: 0.3s;
}

.button__save {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
  padding: 13px 15px;
}

.button-save__floppy {
  block-size: 25px;
}

.button__save:hover svg {
  fill: #fff;
}

.modal-window {
  grid-template-columns: min-content 1fr;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;
}

.modal-window .button-save__floppy {
  block-size: 39px;
}

.modal__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button__modal {
  grid-column: 1/3;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.modal-window:not([open]) {
  display: none;
}

.modal-window[open] {
  display: grid;
}

.modal-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width < 376px) {
  .button__save {
    flex-direction: column;
    padding: 16px 17px;
  }
}
