/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


/* global */
.button {
  border: none;
  outline: 2px solid #000;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  color:#fff;
}

.button::after {
  content: "";
  display: none;
  background-color: #000;
  transition: scale 0.5s ease-in-out;
  block-size: 100%;
  inline-size: 100%;
  scale: 1;
}

.button:hover > .button::after {
  display: block;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  outline: none;
  transition: box-shadow 0.3s ease;
}

/*  */

.page {
  font-family: var(--main-font);
  background-image: var(--background-pattern);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-card-desc);
}

.wrapper {
  width: var(--block-width);
  margin: 0 auto;
}

.header {
  margin-bottom: 100px;
  font-family: var(--accent-font);
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #000;
  padding-top: var(--padding-header);
  padding-bottom: var(--padding-header);
  text-align: center;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.cards-list {
  display: grid;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-card-title);
}

.card__img-block {
  position: relative;
}

.card__img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.img-block__text-logo {
  position: absolute;
  top:25px;
  right:25px;
  opacity: 50%;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
  -1px 0 var(--color-font-stroke), 
  0 1px var(--color-font-stroke), 
  1px 0 var(--color-font-stroke), 
  0 -1px var(--color-font-stroke);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--color-font-stroke)) or (-webkit-text-stroke: 1px var(--color-font-stroke))) {
  .img-block__text-logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-font-stroke);
    text-stroke: 1px var(--color-font-stroke);
  }
} 

.card__desc {
  display: grid;
  gap: 25px;
  margin: var(--margin-card-desc);
  font-size: var(--font-size-card-desc);
}

.card__desc > p {
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-self: end;
  gap: 7px;
}

.button__heart {
  border: none;
  background: none;
}

.button__like {
  padding: 12.5px 37px ;
}

.button__save {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
  padding: 17px 20px;
}

.button-save__floppy {
  block-size: 28px;
}

.button__save:hover svg {
  fill: #fff;
}

.modal-window {
  grid-template-columns: min-content 1fr;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  padding: 30px;
}

.modal__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
}

.button__modal {
  grid-column: 1/3;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  
}

.modal-window:not([open]) {
  display: none;
}

.modal-window[open] {
  display: grid;
}


.modal-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 
