/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "Press Start 2P", sans-serif;
  --font-weight-card-title: 715;
  --font-weight-card-desc: 410;
  --background-pattern: 
  repeating-linear-gradient(to right, rgba(211, 211, 211, 1) 0 2px, rgba(211, 211, 211, 0) 2px 4px),
  repeating-linear-gradient(to bottom, rgba(211, 211, 211, 1) 0 2px, rgba(211, 211, 211, 0) 2px 4px),
  linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}